<%- include('./includes/html-page-start') %> 
<main>
    <form action="/form-data" method="POST">
        <input type="text" name="nome">
        <input type="submit" value="Invia">
    </form>
</main>
<%- include('./includes/html-page-end') %> 
